 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <!-- <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div> -->
    <div class="tech">
      <h2>Skills</h2>
      <p>Maya Python Script </p>
      <p>Maya MEL Script </p>
      <p>Maya API 2.0 </p>
      <p>PySide/Pyside2 </p>
      <p>Photoshop Script </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <p>Qt Designer </p>
      <p>Maya </p>
      <p>Pycharm </p>
      <p>Perforce </p>
      <p>Blender </p>
    </div>
</div>
