<div class="user-details">
  <h1> Personal Projects </h1>
</div>
<div class="user-projects">
  <div>
    <h3> FBX Management Tool </h3>
    <ul>
    <a href="https://www.youtube.com/watch?v=oshvcDjEKZc"></li>Source code</li></a>
    </ul>
    <p>Support Technical Manager to provide Technical checklist, checking assets in Maya and in-game to ensure the final product's quality</p>
    <p>Create working tools for the artist team to work with Maya, Marmoset.</p>
    <p>Improve the workflow of the project to work more efficiently.</p>

    <li>Python Script, Qt Designer and Pyside2</li>
  </div>
</div>