<div class="user-details">
  <h1> Personal Projects </h1>
</div>
<div class="user-projects-personals">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/GlassEgg.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Glass Egg Digital Media </h3>
    <ul>
      <li>Maya Working Tool Sytem</li>
    </ul>
    <p>Re-build the Maya working tool system for the company using Qt Designer and Pyside with the philosophy "More friendly with the artist - Easier for using - Easier for updating new tools," using Qt Designer and Pyside/Pyside2</p>
    <p>Develop a new workflow for update/create new working tools</p>
    <p>Improve performance, debugging, and fixing the existing error of current working tools</p>

    <li>Python Script, Qt Designer and Pyside2</li>
  </div>
</div>