<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/CSRRacing2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Naturalmotion </h3>
    <ul>
      <a href="https://www.youtube.com/watch?v=9GwkOiYHGOs"><li>CSR Racing 2</li></a>
    </ul>
    <p>Convert existing MEL tools to Python to work faster and more reusable using Maya Python , Maya API, Qt Designer and Pyside2.</p>
    <p>Debugging and improve performance for all Maya tools.</p>>
    <p>Working directly with the client (Technical Lead) of Naturalmotion (car team) in the UK</p>
    <p>Develop new tools, receive tools feedback from the team from different country (China/ UK/ VietNam), and report daily to the client for the tool working process and tools issue.</p>
    <p>Support artists when they have any issues with tools or a technical problem.</p>
    
    <li>Python Script, MEL Script , Maya API, Qt Designer, Pyside2 and Photoshop Script</li>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/EliteDangerous.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Frontier </h3>
    <ul>
      <a href="https://www.youtube.com/watch?v=RAb3nH5Eilo"><li>Elite Dangerous Odyssey</li></a>
    </ul>
    <p>Provide a Technical checklist, checking assets in Maya and in-game to ensure the final product's quality</p>
    <p>Working with SVN for updating, maintenance game engine and report issue for the client.</p>
    <p>Provide game engine training for the art team.</p>
    <p>Develop working tools and management tools for art team such as : </p>
    <p>- Material Management Tool </p>
    <p>- Merge File Tool </p>
    <p>- Setup Assets Tool </p>

    <li>Python Script, Qt Designer and Pyside2</li>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Spiderman.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Insomniac Games </h3>
    <ul>
      <a href="https://www.youtube.com/watch?v=NTunTURbyUU"><li>Spider-Man: Miles Morales Ultimate</li></a>
    </ul>
    <p>Develop working tools for the art team to improve the workflows and support the team for any technical issue</p>
    <p>Develop checking tools in Maya, and Substance Painter</p>
    <p>Improve the workflow of the project to work more efficiently.</p>

    <li>Python Script, Qt Designer and Pyside2, Substance Painter</li>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/ApexLegend.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Glass Egg Digital Media </h3>
    <ul>
      <li>Apex Legend</li>
    </ul>
    <p>Support Technical Manager to provide Technical checklist, checking assets in Maya and in-game to ensure the final product's quality</p>
    <p>Create working tools for the artist team to work with Maya, Marmoset.</p>
    <p>Improve the workflow of the project to work more efficiently.</p>

    <li>Python Script, Qt Designer and Pyside2</li>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/GlassEgg.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Glass Egg Digital Media </h3>
    <ul>
      <li>Maya Working Tool Sytem</li>
    </ul>
    <p>Re-build the Maya working tool system for the company using Qt Designer and Pyside with the philosophy "More friendly with the artist - Easier for using - Easier for updating new tools," using Qt Designer and Pyside/Pyside2</p>
    <p>Develop a new workflow for update/create new working tools</p>
    <p>Improve performance, debugging, and fixing the existing error of current working tools</p>

    <li>Python Script, Qt Designer and Pyside2</li>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/PlanetCoaster.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Frontier </h3>
    <ul>
      <a href="https://www.youtube.com/watch?v=91Kli1Uwk9g"><li>Planet Coaster</li></a>
    </ul>
    <p>Support Technical Manager to provide Technical checklist, checking assets in Maya and in-game to ensure the final product's quality</p>
    <p>Develop working tools for art team </p>

    <li>Python Script, Qt Designer and Pyside2</li>
  </div>
</div>
