<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/CSRRacing2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Naturalmotion </h3>
    <ul>
      <li> CSR Racing 2 </li>
    </ul>
    <p>- Working directly with the client (Technical Lead) of Naturalmotion (car team) in the UK</p>
    <p>- Develop new tools, receive tools feedback from the team from different country (China/ UK/ VietNam), and report daily to the client for the tool working process and tools issue.</p>
    <p>- Convert existing MEL tools to Python to work faster and more reusable using Maya Python , Maya API, Qt Designer and Pyside2. Debugging and improve performance for all Maya tools.</p>
    <p>- Support artists when they have any issues with tools or a technical problem.</p>
    <a class="project-link" href="https://www.naturalmotion.com/game/csr-racing-2/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
