<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/CSRRacing2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Naturalmotion </h3>
    <ul>
      <a href="https://www.youtube.com/watch?v=9GwkOiYHGOs"><li>CSR Racing 2</li></a>
    </ul>
    <p>Convert existing MEL tools to Python to work faster and more reusable using Maya Python , Maya API, Qt Designer and Pyside2.</p>
    <p>Debugging and improve performance for all Maya tools.</p>>
    <p>Working directly with the client (Technical Lead) of Naturalmotion (car team) in the UK</p>
    <p>Develop new tools, receive tools feedback from the team from different country (China/ UK/ VietNam), and report daily to the client for the tool working process and tools issue.</p>
    <p>Support artists when they have any issues with tools or a technical problem.</p>
    
    <li>Python Script, MEL Script , Maya API, Qt Designer, Pyside2 and Photoshop Script</li>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/EliteDangerous.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Frontier </h3>
    <ul>
      <a href="https://www.youtube.com/watch?v=RAb3nH5Eilo"><li>Elite Dangerous Odyssey</li></a>
    </ul>
    <p>Provide a Technical checklist, checking assets in Maya and in-game to ensure the final product's quality</p>
    <p>Working with SVN for updating, maintenance game engine and report issue for the client.</p>
    <p>Provide game engine training for the art team.</p>
    <p>Develop working tools and management tools for art team such as : </p>
    <p>- Material Management Tool </p>
    <p>- Merge File Tool </p>
    <p>- Setup Assets Tool </p>

    <li>Python Script, Qt Designer and Pyside2</li>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/PlanetCoaster.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Frontier </h3>
    <ul>
      <a href="https://www.youtube.com/watch?v=91Kli1Uwk9g"><li>Planet Coaster</li></a>
    </ul>
    <p>- Convert existing MEL tools to Python to work faster and more reusable using Maya Python , Maya API, Qt Designer and Pyside2. Debugging and improve performance for all Maya tools.</p>
    <p>- Working directly with the client (Technical Lead) of Naturalmotion (car team) in the UK</p>
    <p>- Develop new tools, receive tools feedback from the team from different country (China/ UK/ VietNam), and report daily to the client for the tool working process and tools issue.</p>
    <p>- Support artists when they have any issues with tools or a technical problem.</p>

  </div>
</div>
