<div class="user-details">
  <h1> My Tools </h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Material Library Tool </h3>
    <ul>
      <a href="https://www.youtube.com/watch?v=91Kli1Uwk9g"><li>More Info</li></a>
    </ul>

    <p>Allow artists to create their material Library</p>
    <p>Main functions:</p>
    <p>Update new material to Library</p>
    <p>Remove material in Library</p>
    <p>Can work as a local - server library</p>
    <p>Can manage who can use the update and remove function</p>

    <li>Python Script, Qt Designer and Pyside2</li>
  </div>
</div>