<div class="user-details">
  <h1> My Tools </h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> FBX Library Tool </h3>
    <ul>
      <a href="https://www.youtube.com/watch?v=91Kli1Uwk9g"><li>More Info</li></a>
    </ul>

    <p>Allow artists to create their FBX Library</p>
    <p>Main functions:</p>
    <p>Artist can update FBX, create your library assets for many difference projects</p>
    <p>Can work as a local - server library</p>
    

    <li>Python Script, Qt Designer and Pyside2</li>
  </div>
</div>

<!-- 
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Assets Library Tool </h3>
    <ul>
      <a href="https://www.youtube.com/watch?v=91Kli1Uwk9g"><li>More info</li></a>
    </ul>
    <p>Allow artists to create their Assets Library and also Can create difference libraries for difference projects</p>

    <li>Python Script, Qt Designer and Pyside2</li>
  </div>
</div> -->

<!-- <div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/GlassEgg.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Assets Library Tool </h3>
    <ul>
      <a href="https://www.youtube.com/watch?v=91Kli1Uwk9g"><li>More Info</li></a>
    </ul>
    <p>Allow artists to create their Assets Library</p>
    <p>Main functions:</p>
    <p>Update new Assets to Library</p>
    <p>Can create difference libraries for difference projects</p>

    <li>Python Script, Qt Designer and Pyside2</li>
  </div>
</div> -->